.space {
  object-fit: cover;
  width: 100%;
  height: 100vh;
  scroll-snap-align: center;
  background-color: black;
}

video {
  object-fit: cover;
  width: 100%;
  height: 100vh;
}

.music {
  opacity: 0.01
}
