.page1 {
  width: 100vw;
  height: 100vh;
  background-color: black;
  scroll-snap-align: center;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  background-image: url(./img/space.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.page1 h1 {
  color: white;
}

.page1 h2 {
  font-size: 3rem;
}

.planet1 video {
  width: 40vw;
  height: 20%;
  border-radius: 20px;
  margin-left: 2vw;
  margin-top: 6vw;
}

.page1 .horizontal-border {
  border-bottom: 2px solid white;
  width: 28vw;
  margin-left: 12vw;
  margin-top: 2vh;
}

.texte1 {
  margin: 10vh;
  padding-top: 15vh;
}

.texte1 h3 {
  margin-bottom: 4vh;
  font-size: 1.3rem;
}

.texte1 ul {
  margin-top: 5vh;
}

.activity1 {
  margin: 10vh;
  padding-top: 15vh;
}

.activity1 h3 {
  margin-bottom: 4vh;
  font-size: 1.3rem;
}

.activity1 button {
  margin-top: 8vh;
  color: black;
}
.Toastify__toast-theme--colored.Toastify__toast--success {
  background-color: blue !important;
}
