.page1 {
  width: 100vw;
  height: 100vh;
  background-color: black;
  scroll-snap-align: center;
  display: flex;
  justify-content: space-around;
  text-align: center;
  align-items: center;
  background-image: url(./img/space.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.page1 h1 {
  color: aliceblue;
}

.page1 h2 {
  font-size: 3rem;
}

.planet1 img {
  width: 40vw;
  margin-top: 3vh;
  margin-bottom: 2vh;
}

.border {
  border: 1px solid white;
  height: 60vh;
  margin: 2vw;
}
.texte1 {
  margin: 10vh;
}

.texte1 h3 {
  margin-bottom: 10vh;
  font-size: 1.3rem;
}

.texte1 ul {
  margin-top: 5vh;
}

.activity1 {
  margin: 10vh;
}

.activity1 h3 {
  margin-bottom: 10vh;
  font-size: 1.3rem;
}

.activity1 button {
  margin-top: 8vh;
}
