
.page2 {
    width: 100vw;
    height: 100vh;
    background-color: black;
    scroll-snap-align: center;
    display: flex;
    justify-content: space-around;
    text-align: center;
    align-items: center;
    background-image: url(./img/space.jpg);

}

.page2 h1 {
    color: aliceblue;

}
.page2 h2 {
    font-size: 3rem;
}

.planet2 img {
    width: 40vw;
    margin-top: 3vh;
    margin-bottom: 2VH;
}

.border {
    border: 1px solid white;
    height: 60vh;
    margin: 2vw;

}
.texte2 {
    margin: 10vh;
}

.texte2 h3 {
    margin-bottom: 10vh;
    font-size: 1.3rem;
}

.texte2 ul {
    margin-top: 5vh;
}


.activity2 {
    margin: 10vh;
}

.activity2 h3 {
    margin-bottom: 10vh;
    font-size: 1.3rem;
}

.activity2 button {
    margin-top: 8vh;
}
